<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Post an Item for Rent</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Form</h1>
<form action="#" th:action="@{/createListing}" th:object="${listing}" method="post">
    <p>Name: <input type="text" th:field="*{productName}" /></p>
    <p>Description: <input type="text" th:field="*{description}" /></p>
    <p>Condition: <input type="text" th:field="*{condition}" /></p>
    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>
</body>
</html>