<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Search Results</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Rentalit</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div>
</nav>
<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">Checkout Rental</h1>


        <div class="col-lg-4 col-md-6 mb-4" style="margin-left: 33%; margin-right: 33%;">
            <div class="card h-100">
                <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
                <div class="card-body">
                    <h4 class="card-title">
                        <p style="text-align: center" th:text="${listing.productName}" />
                    </h4>
                    <p style="text-align: center" th:text="'Description: ' + ${listing.description}" />
                    <p style="text-align: center" th:text="'Condition: ' + ${listing.condition}" />
                    <p style="text-align: center" th:text="'Condition: ' + ${listing.condition}" />

                    <form ACTION="#" th:action="@{/rentcheckout}" th:object="${newlisting}" method="POST">
                        <input type="hidden" th:value="${listing.productName}" th:attr="name='productName'" />
                        <input type="hidden" th:value="${listing.description}" th:attr="name='description'" />
                        <input type="hidden" th:value="${listing.condition}" th:attr="name='condition'" />
                        <input type='hidden' th:value="${listing.rented}" th:attr="name='rented'" />

                        <label for="startdate">Rental Start Date:</label>
                        <input style="text-align: center" id="startdate" type="date" th:field="*{calendar.startDate}" required>
                        <label for="enddate">Rental End Date:</label>
                        <input style="text-align: center" id="enddate" type="date" th:field="*{calendar.endDate}" required>
                        <button type="submit">Confirm</button>
                    </form>
                </div>
                <div class="card-footer">
                    <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                </div>
            </div>
        </div>

    </div>
    <a href="/search" class="btn btn-primary" style="text-align: center" >Search Another Listing</a>
    </div>
</section>test
2017-12-02 10:47:28.642  INFO 33128 --- [nio-8080-exec-4] c.r.controllers.RentalitController       : 0
2017-12-02 10:47:28.642  INFO 33128 --- [nio-8080-exec-4] c.r.controllers.RentalitController       : com.rentalit.models.Calendar@7d70619a


<footer class="text-muted">
    <div class="container">
        <p>© Rentalit, A Rental Service!</p>
        <p>New to Renatlit? Sign up <a href="#">here</a> </p>
    </div>
</footer>

</body>
</html>