<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Search Results</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Rentalit</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div>
</nav>
<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">Search Results</h1>
        <div th:if="${!results.isEmpty()}">
            <tr th:each="data, iterstat: ${results}">
                <div th:if="${data.url != null}">
                    <div class="col-lg-4 col-md-6 mb-4" style="margin-left: 33%; margin-right: 33%;">
                        <div class="card h-100">
                            <img class="card-img-top" th:src="${data.url}" alt="">
                            <div class="card-body">
                                <h4 class="card-title">
                                    <p style="text-align: center" th:text="${data.productName}" />
                                </h4>
                                <p style="text-align: center" th:text="'Description: ' + ${data.description}" />
                                <p style="text-align: center" th:text="'Condition: ' + ${data.condition}" />

                            <form ACTION="#" th:action="@{/rent}" th:object="${listing}" method="POST">

                                <!--<input value="${data.productName}" th:field="*{productName}" />-->
                                <input type="hidden" th:value="${data.productName}" th:attr="name='productName'" />
                                <input type="hidden" th:value="${data.description}" th:attr="name='description'" />
                                <input type="hidden" th:value="${data.condition}" th:attr="name='condition'" />
                                <!--<input th:value="${data.rented}" th:attr="name='rented'" />-->
                                <!--<td th:text="${listing.setRented(data.getRented())}"></td>-->
                                <button type="submit">Rent</button>
                            </form>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div th:unless="${data.url!= null}">
                    <div class="col-lg-4 col-md-6 mb-4" style="margin-left: 33%; margin-right: 33%;">
                        <div class="card h-100">
                            <img class="card-img-top" src="http://via.placeholder.com/700X400&text=No Image Provided" alt="">
                            <div class="card-body">
                                <h4 class="card-title">
                                    <p style="text-align: center" th:text="${data.productName}" />
                                </h4>
                                <p style="text-align: center" th:text="'Description: ' + ${data.description}" />
                                <p style="text-align: center" th:text="'Condition: ' + ${data.condition}" />

                                <form ACTION="#" th:action="@{/rent}" th:object="${listing}" method="POST">
                                    <!--<input value="${data.productName}" th:field="*{productName}" />-->
                                    <input type="hidden" th:value="${data.productName}" th:attr="name='productName'" />
                                    <input type="hidden" th:value="${data.description}" th:attr="name='description'" />
                                    <input type="hidden" th:value="${data.condition}" th:attr="name='condition'" />
                                    <button type="submit">Rent</button>
                                </form>

                            </div>
                            <div class="card-footer">
                                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                            </div>
                        </div>
                    </div>
                </div>


            </tr>
        </div>
        <div th:unless="${!results.isEmpty()}">
            <p style="text-align: center"> No matching products in the system currently. </p>
        </div>
        </div>
        <a href="/search" class="btn btn-primary" style="text-align: center" >Search Another Listing</a>
    </div>
</section>


<footer class="text-muted">
    <div class="container">
        <p>© Rentalit, A Rental Service!</p>
        <p>New to Renatlit? Sign up <a href="#">here</a> </p>
    </div>
</footer>

</body>
</html>